.calc{
    width : 400px;
    height : 600px;
    background-color:grey;
    margin-left:500px;
}
.output-input{
    width: 348px;
    margin-left: 20px;
    height: 50px;
    margin-top: 15px;
    pointer-events: none;
}
.bt{
    width:50px;
    height:50px;
    margin-left:37px;
    margin-top:20px;
    background: green;
    color:white;
    
}